.App {
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.logo-navbar {
  width: 70px;
  height: 70px;
}

.form-navbar {
  width: 1200px;
  height: 30px;
  border: none;
  padding: 20px;
}

.login {
  padding: 20px;
}

#hero {
  position: relative;
}

.img-hero {
  position: relative;
  width: 100%;
  height: auto;

}

.h1-hero {
  position: absolute;
  top: 50%;
  left: 10%;
  color: rgb(255, 255, 255);
  font-size: 100px;
}

.p-hero {
  position: absolute;
  top: 75%;
  left: 10%;
  color: rgb(255, 255, 254);
  font-size: 40px;
}

.flex-home {
  display: flex;
  flex-direction: row;
}


.btn-category {
  background-color: rgb(228, 227, 227);
  width: 70px;
  height: 100px;
  border: 0.1px solid rgb(214, 214, 214);
  font-size: 8px;
  text-align: center;
  color: rgb(54, 52, 52);
  padding-top: 5px;
}

.btn-category:hover {
  color: rgb(228, 227, 227);
  background-color: #ed1212;
  cursor: pointer;
}

.category-name {
  font-size: 100px;
  color: #ed1212
}

.movies-container {
  padding: 30px;   
}


.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.img-movie {
  width:200px;
  height: auto;
  margin: 15px;
  transition: transform .2s;
}

.img-movie:hover {
  cursor: pointer;
  position:relative;
  transform: scale(1.1);
}

.title-movie {
  text-align: center;
  width: 200px;
}



.container-modal-complete{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}

.container-modal {
  position: fixed;
  top: 0;
  left: 20%;
  right: 0;
  bottom: 0;
  margin-top: 90px;
  z-index: 1000;
  width: 60%;
  height: 73%;
  background-color: rgb(27, 26, 26);
  border-radius: 15px;
  color: azure
}

.title-movie-modal {
  z-index: 200;
  position: absolute;
  top: 20%;
  right: 10%;  
  width: 60%;
  font-size: 36px;
  text-align: right;
  color: white;
}

.img-movie-modal {
  position: absolute;
  top: 15px;
  left: 15px;
  width:200px;
  height: auto;
  margin: 15px;
  z-index: 200;
}

.img-backdrop{
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  border-radius: 15px;
  opacity: 0.5;
}

.overview-movie {
  z-index: 100;
  position: absolute;
  top: 50%;
  right: 10%;
  left:50%;
  z-index: 1500;
  font-size: 14px;
  text-align: right;
}

.close-modal {
  position: absolute;
  z-index: 100;
  top: 20px;
  right: 25px;
}

